@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

html,
body,
:root {
  height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
}

.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #68D391;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #68D391;
}
.toggle-label {
  @apply: block overflow-hidden h-6 rounded-full bg-gray-300;
  background-color: #D1D5DB;
}
.toggle-checkbox {
  @apply: absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer;
  border-color: #D1D5DB;
}

.otherListingWrapper input{
    font-style: italic;
    font-size: 13px;

}
.w-30 {
  width:30%;
}
.addon-box {
  border-radius:15px;
  border-top: solid rgba(217, 217, 217, 0.6) 1px;
}
.image-checkbox {
  /* display: flex; */
  align-items: center;
  cursor: pointer;
/*   border: 1px solid #ccc;
 */  border-radius: 15px;
  padding: 10px;
}

.image-checkbox input[type="text"] {
  /* display: none; */
  /* position: absolute;
  margin: 5px; */
  
  width: 75px;
  background: rgba(217, 217, 217, 0.6);
  font-style: italic;
  border-radius: 5px;
  margin-left:5px;
  font-size:12px;
}
.image-checkbox .addon-name {
  font-weight: bold;
  font-size:13px;
}

.image-checkbox input[type="checkbox"] {
  /* display: none; */
  position: absolute;
  margin: 5px;

}

.image-checkbox img {
  /* width: 100px;
  height: 100px;  */
}

.chip {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 16px;
  background-color: #f4f4f4;
  cursor: pointer;
  user-select: none;
}

.chip-selected {
  background-color: #666;
  color: white;
  border-color: #666;
}

.banner {
  position: relative;
}

.banner img {
  width: 100%;
  height: 20vh;
  display: block;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-text {
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}